* {
  box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5em !important;
  color: #424242;
}

a {
  transition: .25s;
}

object {
  width: 100%;
  height: 70%;
  margin-bottom: 30px;
  padding: 15px 0;
  background: #525659;
}

object img {
  width: 100%;
  margin-bottom: 30px;
  border: solid 15px #525659;
}

.btn {
  font-size: 16px !important;
}

.far,
.fas,
.fab {
  margin-right: 5px;
}

header .home a {
  margin: 0;
  font-size: 1.5em;
  line-height: 75px;
  color: #424242;
}

header .search-box {
  display: none;
}

.scroll-indicator {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 5px;
  background: #ccc;
}

.scroll-indicator #bar {
  height: 5px;
  background: url("../img/texture.png") fixed,
    linear-gradient(to bottom right, #419544, #1c80cf) fixed;
  width: 0;
}

.jumbotron {
  margin-bottom: 50px;
  background: linear-gradient(to bottom left, rgba(33, 150, 243, .75), rgba(76, 175, 80, .75)) fixed,
    url(../img/certificate.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.jumbotron h1 {
  margin: 0 30px 15px;
  font-size: 1.5em;
}

.jumbotron p {
  margin: 0 30px;
  font-size: 16px;
}

.certificate-feed {
  margin-bottom: 50px;
}

.card {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #ddd;
  border: solid 1px #ccc;
  border-radius: 5px 5px 0 0;
}

.card .thumb {
  display: block;
  width: 100%;
  padding-top: 70%;
  background-size: contain !important;
}

.card a.category-label {
  position: absolute;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  max-width: 75%;
  padding: 0 15px;
  background: #1c80cf;
  color: #fff;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.card-description {
  margin-bottom: 30px;
  padding: 15px;
  border: solid 1px #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.card-description h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3em;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

.card-description p {
  margin: 0;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}

.section-title {
  padding-bottom: 5px;
  font-size: 1.2em;
  border-bottom: solid 1px #ddd;
}

.certificate-detail {
  margin-bottom: 50px;
}

.certificate-detail h1 {
  margin: 0 0 15px;
  font-size: 2em;
}

.certificate-detail .meta span {
  display: inline-block;
  margin-right: 15px;
  font-size: 85%;
  font-weight: initial;
}

.certificate-detail .meta span.category-label {
  margin-bottom: 15px;
  padding: 0 15px;
  background: #1c80cf;
  color: #fff;
  border-radius: 5px;
}

footer {
  clear: both;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  color: #888;
  border-top: solid 1px #ddd;
}

footer .copyright,
footer .license {
  text-align: center;
}

footer a {
  color: #888;
  font-weight: bold;
}

footer a:hover,
footer a:focus {
  color: #666;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

.gsc-control-cse {
  padding: 0 !important;
}

/* tablet screen view */

@media (min-width: 768px) {
  object {
    height: 400px;
  }

  header .home a {
    font-size: 1.75em;
    line-height: 100px;
  }

  header .search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
  }

  header .search-box>div {
    width: 100%;
  }

  .certificate-detail .meta span:first-child {
    margin-bottom: 0;
  }

  footer .copyright {
    text-align: left;
  }

  footer .license {
    text-align: right;
  }

  .jumbotron h1 {
    font-size: 2em;
  }
}

/* desktop screen view */

@media (min-width: 992px) {
  .medium-feed {
    padding-right: 50px;
  }
}

/* large desktop screen view */

@media (min-width: 1200px) {}